snippet js "Javascript embeded"
\`\`\`javascript
$1
\`\`\`
endsnippet

snippet img "Image embeded"
![${1:nameImg}](${2:path/to/img})

endsnippet


snippet bash "Javascript embeded"
\`\`\`bash
$1
\`\`\`
endsnippet
