snippet ejs "Snippet untuk EJS"
<% $1 %>
endsnippet

snippet ejse "Snippet untuk menampilkan expresi"
<%= $1 %>
endsnippet

snippet ejss "Snippet utk menampilkan expresi dgn -"
<%- $1 %>
endsnippet

snippet com "Commentar di EJS"
<!-- $1 --!>
endsnippet

snippet cn "Buat const"
const $1
endsnippet

snippet ejsif "EJS if"
<% if ($1){ %>
	$2
<% } %>
endsnippet

snippet ejsf "EJS function"
<% $1 %>
	$2
<% $3 %>
endsnippet






