snippet fun "Snippet function"
function ${1:function_name}(${2:arguments}){
	${3:// body}
}
endsnippet

snippet cl "Snippet console.log()"
console.log($1)
endsnippet

snippet cn "Snippet const"
const $1
endsnippet

snippet af "Snippet buat arrow function"
(${1:arg}) => {$2}
endsnippet

snippet if "Snippe buat if"
if ($1) {$2}
endsnippet

snippet elif "Snippet buat else if"
else if ($1) {$2}
endsnippet

snippet else "Snippet buat else"
else {$1}
endsnippet
