configuration {
	modi: "window,drun,ssh,combi,run";
	theme: "gruvbox-dark-soft";
	font: "hack 10";
	combi-modi: "window,drun,ssh";
 	cycle: true;
	
 }
@import "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
